// FONTS
$font-main: "Roboto Condensed", sans-serif;

// COLORS
$body-main: #dbb561;
$body-light: #5dab7c;
$body-dark: #bb6b62;

// FONT
$font-heading-main: #4c3800;
$font-heading-dark: #5dab7c;
$font-heading-light: #e5cb90;
