.loader {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

    img {
      width: 10rem;
    }  
}
// HIDE LOADER
.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}



